html
	font-family arial, sans-serif
	font-size 16px
	line-height 1.5em
	text-size-adjust 100%

body
	font-size 100%
	font-smoothing antialiased

	position relative
	text-rendering optimizeLegibility

img
	border 0
	display block
	height auto
	max-width 100%
	width auto
	-ms-interpolation-mode bicubic

input, textarea
	border 0.0625em solid #000000
